/* MainBlock */

@keyframes moveButton {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes animateToRight {
    0% {
        right: 0;
    }
    100% {
        right: -1300px;
    }
}

@keyframes startFeading_psb {
    0% {
        left: -400px;
    }
    100% {
        left: 0;
    }
}

@keyframes startFeading_lab {
    0% {
        left: -560px;
    }
    100% {
        left: 0;
    }
}

@keyframes fadeInText {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes slideInVideo {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-240px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInGradient {
    0% {
        transform: translateY(-4000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes gradientBlue {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}



@keyframes gradientPurple_375 {
  0% {
    top: -300px;
    left: -300px;
  }
  25% {
    top: -500px;
    left: -500px;
  }
  50% {
    top: -300px;
    left: -600px;
  }
  75% {
    top: -400px;
    left: -400px;
  }
}
@keyframes gradientPurple_768 {
  0% {
    top: -400px;
    left: -350px;
  }
  25% {
    top: -650px;
    left: -350px;
  }
  50% {
    top: -550px;
    left: -550px;
  }
  75% {
    top: -450px;
    left: -450px;
  }
}
@keyframes gradientPurple_1024 {
  0% {
    top: -700px;
    left: -350px;
  }
  25% {
    top: -800px;
    left: -350px;
  }
  50% {
    top: -550px;
    left: -650px;
  }
  75% {
    top: -500px;
    left: -500px;
  }
}

@keyframes gradientPurple_1440 {
  0% {
    top: -900px;
    left: -500px;
  }
  25% {
    top: -1400px;
    left: -1000px;
  }
  50% {
    top: -1100px;
    left: -400px;
  }
  75% {
    top: -800px;
    left: -500px;
  }
}
@keyframes gradientPurple_1920 {
  0% {
    top: -800px;
    left: -300px;
  }
  25% {
    top: -1300px;
    left: -450px;
  }
  50% {
    top: -1300px;
    left: -850px;
  }
  75% {
    top: -800px;
    left: -450px;
  }
}
@keyframes gradientPurple_2560 {
  0% {
    top: -1100px;
    left: -600px;
  }
  25% {
    top: -1300px;
    left: -400px;
  }
  50% {
    top: -1150px;
    left: -260px;
  }
  75% {
    top: -950px;
    left: -200px;
  }
}

@keyframes gradientRed_375 {
  0% {
    top: -250px;
    left: -150px;
  }
  25% {
    top: -200px;
    left: -150px;
  }
  50% {
    top: -70px;
    left: -350px;
  }
  75% {
    top: -100px;
    left: -150px;
  }
}
@keyframes gradientRed_768 {
  0% {
    top: -300px;
    left: 50px;
  }
  25% {
    top: -400px;
    left: -200px;
  }
  50% {
    top: -200px;
    left: -350px;
  }
  75% {
    top: -250px;
    left: -150px;
  }
}
@keyframes gradientRed_1024 {
  0% {
    top: -350px;
    left: 0;
  }
  25% {
    top: -500px;
    left: -280px;
  }
  50% {
    top: -300px;
    left: -450px;
  }
  75% {
    top: -300px;
    left: -230px;
  }
}
@keyframes gradientRed_1440 {
  0% {
    top: -450px;
    left: 350px;
  }
  25% {
    top: -550px;
    left: 0;
  }
  50% {
    top: -300px;
    left: -350px;
  }
  75% {
    top: -300px;
    left: -50px;
  }
}
@keyframes gradientRed_1920 {
  0% {
    top: -600px;
    left: 100px;
  }
  25% {
    top: -1000px;
    left: -300px;
  }
  50% {
    top: -700px;
    left: -500px;
  }
  75% {
    top: -550px;
    left: -200px;
  }
}
@keyframes gradientRed_2560 {
  0% {
    top: -700px;
    left: 800px;
  }
  25% {
    top: -1000px;
    left: 300px;
  }
  50% {
    top: -700px;
    left: -300px;
  }
  75% {
    top: -750px;
    left: 200px;
  }
}


@keyframes gradientYellow_375 {
  0% {
    top: 400px;
    left: 180px;
  }
  25% {
    top: -150px;
    left: 180px;
  }
  50% {
    top: 150px;
    left: -250px;
  }
  75% {
    top: 350px;
    left: 50px;
  }
}
@keyframes gradientYellow_768 {
  0% {
    top: 450px;
    left: 350px;
  }
  25% {
    top: -250px;
    left: 350px;
  }
  50% {
    top: 100px;
    left: -350px;
  }
  75% {
    top: 250px;
    left: 150px;
  }
}
@keyframes gradientYellow_1024 {
  0% {
    top: 350px;
    left: 550px;
  }
  25% {
    top: -200px;
    left: 500px;
  }
  50% {
    top: 70px;
    left: -400px;
  }
  75% {
    top: 170px;
    left: 200px;
  }
}

@keyframes gradientYellow_1440 {
  0% {
    top: 200px;
    left: 950px;
  }
  25% {
    top: -400px;
    left: 850px;
  }
  50% {
    top: -100px;
    left: -600px;
  }
  75% {
    top: 50px;
    left: 350px;
  }
}
@keyframes gradientYellow_1920 {
  0% {
    top: 300px;
    left: 1000px;
  }
  25% {
    top: -510px;
    left: 1000px;
  }
  50% {
    top: -100px;
    left: -800px;
  }
  75% {
    top: -100px;
    left: 200px;
  }
}

@keyframes gradientYellow_2560 {
  0% {
    top: 300px;
    left: 1700px;
  }
  25% {
    top: -500px;
    left: 1700px;
  }
  50% {
    top: -100px;
    left: -800px;
  }
  75% {
    top: -100px;
    left: 600px;
  }
}

/*  */